body {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
    font-family: "Roboto", sans-serif;
  background-image: url("https://funpay.com/img/circles/lineage_2.jpg")
}

  .menu,
  .hello world {
    padding: 11px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .menu { 
    margin-bottom: 11px;
    background-color: #3f51b5; 
  }
  .hello-world {
    margin-bottom: 10px;
    background-color:rgba(141, 43, 176, 0.5);
    font-size: 60px;
    text-transform: uppercase;
    border: 2px solid red;
  }
  h1 {
    color: rgb(233,131,55);
  }
  li {
    color: rgba(141, 43, 176, 1)
  }
  p {
    color: white
  }
  li a {
    color: aqua
  }